<div id="contactanos" class="row mt-2 p-1" >
  <div class="bg-success-subtle text-center">
      <h1>Matrícula</h1>
  </div>
  <form [formGroup]="form" autocomplete="off">
      <div class="container mt-4">
          <div class="row justify-content-center align-items-center">
              <div class="col-md-6">
                  <div class="card">
                      <div class="card-body">
                        <div class="form-group">
                          <label for="id">ID:</label>
                          <input type="text" class="form-control" id="id" formControlName="id" required />
                        </div>
                        <div class="form-group">
                          <label for="nombre">Nombre:</label>
                          <input type="text" class="form-control" id="nombre" formControlName="nombre" required />
                        </div>
                        <div class="form-group">
                          <label for="horas">Horas:</label>
                          <input type="text" class="form-control" id="horas" formControlName="horas" required />
                        </div>
                        <div class="form-group">
                          <label for="creditos">Creditos:</label>
                          <input type="text" class="form-control" id="creditos" formControlName="creditos" required />
                        </div>
                        <div class="form-group">
                          <label for="categoria">Categpr[ia]]:</label>
                          <input type="text" class="form-control" id="categoria" formControlName="categoria" required />
                        </div>
                      </div>
                      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" class="btn btn-primary" (click)="cancelar()" >Cancelar</button>
                        <button type="button" class="btn btn-primary" (click)="guardar()" >Guardar</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </form>
</div>
