<div class="container">
  <h2>Formulario de Matrícula</h2>

  <form>
    <div class="form-group">
      <label for="alumno">Selecciona un Alumno:</label>
      <select id="alumno" class="form-control" name="alumno" required>
        <option *ngFor="let alumno of alumnos" [value]="alumno.id">{{ alumno.nombres }} {{ alumno.apellidos }}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Selecciona Cursos para Matricular:</label>
      <div *ngFor="let curso of cursos">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" name="cursos" [value]="curso.id" />
          {{ curso.nombre }}
        </label>
      </div>
    </div>

    <button type="button" (click)="pagar()" class="btn btn-primary">Pagar</button>
  </form>
  <div *ngIf="mostrarModuloPago">
    <app-pagos></app-pagos>
  </div>
</div>
